@use 'theme';

@mixin buttonMixin($color, $bgColor) {
    color: $color;
    border: none;
    height: 48px;
    width: fit-content;
    min-width: 120px;
    padding: 0 16px;
    background-color: $bgColor;
    border-radius: 8px;
    font-family: theme.$fontBold;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .buttonBuy {
    @include buttonMixin($color: theme.$blue7, $bgColor: theme.$blue1);

    &:hover {
        cursor: pointer;
    }
  }

  .isDisabled {
    opacity: 0.5;
  }

  .isDisabled:hover {
    cursor: default;
  }
