$green: green;
$blue1: #150734;
$blue2: #0f2557;
$blue3: #28559a;
$blue4: #3778c2;
$blue5: #4b9fe1;
$blue6: #63bce5;
$blue7: #7ed5ea;

$fontBold: 'RobotoBold';
$fontMedium: "RobotoMedium";
$fontRegular: "RobotoRegular";
$fontThin: "RobotoThin";
